---
import CentrifyLayout from "../layout/CentrifyLayout.astro";
---

<CentrifyLayout title="404" description="Not found">
    <div class="flex flex-col">
        <p class="text-base font-bold">Absolute nothing.</p>
        <a class="text-gray-300 mt-1" href="/">Go to /root</a>
    </div>
</CentrifyLayout>
