---
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout title="404" description="Not found">
    <div class="flex flex-col">
        <p class="text-base font-bold">Absolute nothing.</p>
        <a class="text-gray-300" href="/">Go to /root</a>
    </div>
</BaseLayout>
