---
import { ModeToggle } from "../ModeToggle";
import { buttonVariants } from "../ui/button";
import { MobileLinksMenu } from "./MobileLinksMenu";
import type { Link } from "@/components/header/types.ts";
import { cn } from "@/lib/utils.ts";

const path = Astro.url.pathname;
const base = import.meta.env.BASE_URL;
const {links: rawLinks, slim = false} = Astro.props as { links: Link[], slim?: boolean };
const links = rawLinks.map(link => ({
    ...link,
    url: link.url.startsWith('/') ? base + link.url : link.url
}));
---

<header>
    <div class={cn("flex items-center justify-between", !slim && "py-3 px-6 container mx-auto")}>
        <span class="font-bold"><a href={base}>PetPet</a></span>
        <nav class="flex gap-2">
            <div class="hidden md:block">
                {
                    links.map((link) => (
                        <a
                            href={link.url}
                            target={link.newTab ? "_blank" : "_self"}
                            class={cn(
                                buttonVariants({ variant: "link" }),
                                path == link.url ? "font-bold" : "",
                            )}
                        >
                            {link.title}
                        </a>
                    ))
                }
            </div>
            <div class="md:hidden">
                <MobileLinksMenu links={links} client:idle />
            </div>
            <ModeToggle client:idle />
        </nav>
    </div>
</header>
