---
import { cn } from "@/lib/utils";

const userClass = Astro.props.class ?? '';
---

<footer class={cn(userClass, "text-gray-600 text-sm text-center")}>
    Created with 🩶 by <a href="https://wavycat.me" class="underline">WavyCat</a>.
</footer>
