---
import { links } from "@/links.ts";
import BaseLayout from "./BaseLayout.astro";
import type { BaseLayoutProps } from "./types";
import Header from "@/components/header/Header.astro";
import Footer from "@/components/footer/Footer.astro";

const { title, description } = Astro.props as BaseLayoutProps;
---

<BaseLayout title={title} description={description} pageFull={false}>
	<Header links={links} />
	<div class="container mx-auto p-6 pt-2">
		<div class="prose dark:prose-invert max-w-none">
			<slot />
		</div>
	</div>
	<Footer class="mb-5" />
</BaseLayout>
